<footer class="container-fluid p-3 mt-auto">
  <div class="container">
      <div class="row">
        <div class="col-md-4 mt-3">
          <div class="footer-col">
            <h5>Socials</h5>
            <ul class="list-unstyled">
                <li><a href="/learn">Blog</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
            </ul>
          </div>
        </div>
          <div class="col-md-5 mt-3">
            <div class="footer-col">
              <h5>Contact</h5>
              <ul class="list-unstyled">
                  <li><a href="mailto:satwiktanwar2002@gmail.com">satwiktanwar2002@gmail.com</a></li>
                  <li><a href="tel:+916397453145">+91 6397453145</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 mt-3">
              <h5>Tools</h5>
              <ul class="list-unstyled">
                  <li>
                      <a href="#">Progress Tracker</a>
                  </li>
                  <li>
                      <a href="#">Diet Tool</a>
                  </li>
                  <li>
                      <a href="">Training Tool</a>
                  </li>
                  <li>
                    <a href="#">Goal Calculator</a>
                  </li>
                  <li>
                    <a href="#">Body Fat Calculator</a>
                  </li>
                  <li>
                    <a href="#">BMR Calculator</a>
                  </li>
              </ul>
          </div>
          <p class='text-center my-3'>Copyright &#169; 2022 Satwik Tanwar</p>
      </div>
  </div>
</footer>
<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
  integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous">
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
  integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous">
</script>
</body>

</html>