<%- include('partials/header'); -%>

<main class="blog-area">
  <div class="container-fluid p-5">
    <div class="blogTitle font-weight-bold"><%= blogTitle %></div>
    <hr>
    <br>
    <div class="blogContent"><%- blogContent %></div>
  </div>
</main>

<script src="/javascript/blogs.js"></script>
<%- include('partials/footer'); -%>