<%- include('partials/header'); -%>

<main class="container-fluid">
  <div class="content-area pt-3">

    <form action="/learn/compose" method="post">
      <div class="d-none" id="editBlogTitle"><%= editBlogTitle %></div>
      <div class="d-none" id="editBlogContent"><%= editBlogContent %></div>
      <div>
        <textarea class="mb-3 blogTitle w-75" name="newTitle" id="title" autocomplete="off" rows="1" placeholder="Title" autofocus required></textarea>
        <button type="submit " class="btn btn-primary publish-btn up-btn">Publish</button>
      </div> 
      <hr>
      <div>
        <textarea id="post" name="newPost" autocomplete="off" placeholder="Lets begin..."></textarea>
      </div>
      <div>
        <button type="submit " class="btn btn-primary publish-btn mt-4">Publish</button>
      </div>
     
    </form>
  </div>
</main>
<script src="/javascript/compose.js"></script>
<%- include('partials/footer'); -%>