<%- include('partials/header'); -%>

<main class="m-5">
  <form action="/logout" method="post">
    <button class="btn btn-primary" type="submit">Logout</button>
  </form>

  
  <a href="/home/completeProfile"><button class="btn btn-primary" type="submit">completeProfile</button></a>
  

</main>

<%- include('partials/footer'); -%>