<%- include('partials/header'); -%>

<main class="mb-2 bg-blue-2 text-light">
  <div class="list-area p-3">
    <h3><%= title %></h3>
    <% list.forEach(item => { %>
      <p><%= item.name %></p>
    <% }); %>
  </div>
</main>

<%- include('partials/footer'); -%>