<%- include('partials/header'); -%>

<section class="my-5">
  <div class="container-fluid my-5 ">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-4 col-lg-5 me-5">
        <img src="/images/bg2.webp" class="img-fluid d-none d-lg-block" alt="Sample image">
      </div>
      <div class="px-5 px-lg-0 col-md-8 col-lg-4 offset-lg-1">
        
          <div class="">
            
            <a href="/auth/google" class="link-dark text-decoration-none">
              <div class="text-center border p-2">
                <img class="me-3" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                <span><strong>Login with Google</strong></span>  
              </div>
            </a>

            <!-- <div>
              <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-twitter"></i>
              </button>
            </div>
              
            <div>
              <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-facebook-f"></i>
              </button>
            </div> -->

          </div>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">Or</p>
          </div>


          <form action="/login" method="post">

            <!-- Email input -->
            <div class="form-floating mb-3">
              <input type="email" class="form-control rounded-0" id="floatingEmail" name="email" placeholder="email" required>
              <label for="floatingEmail">Email Address</label>
            </div>

            <!-- Password input -->
            <div class="form-floating mb-3">
              <input type="password" class="form-control rounded-0" id="floatingPassword" name="password" placeholder="password" required>
              <label for="floatingPassword">Password</label>
            </div>

            <div class="d-flex justify-content-between align-items-center">
              <a href="#!" class="link-secondary">Forgot password?</a>
            </div>

            <div class="text-center my-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg btn-block w-100">Login</button>
            </div>
          </form>
          <p>Don't have an account? <a class="link-primary" href="/signup">Register</a></p>
      </div>
    </div>
  </div>
</section>

<%- include('partials/footer'); -%>