<%- include('partials/header'); -%>

<section class="my-5">
  <div class="container-fluid my-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="/images/bg2.webp" class="img-fluid d-none d-lg-block" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <p class="lead fw-normal mb-0 me-3">Sign up with</p>

            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-google"></i>
            </button>

            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-twitter"></i>
            </button>

            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-facebook-f"></i>
            </button>

          </div>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">Or</p>
          </div>


          <form action="/signup" method="post">

            <div class="form-floating mb-3">
              <input type="text" class="form-control rounded-0" id="fullName" name="name" placeholder="Full Name">
              <label for="firstName">Full Name</label>
            </div>

            <div class="form-floating mb-3">
              <input type="text" class="form-control rounded-0" id="username" name="username" placeholder="Userame">
              <label for="userName">Username</label>
            </div>
            

            <!-- Email input -->
            <div class="form-floating mb-3">
              <input type="email" class="form-control rounded-0" id="floatingEmail" name="email" placeholder="name@example.com">
              <label for="floatingEmail">Email Address</label>
            </div>

            <!-- Password input -->
            <div class="form-floating mb-3">
              <input type="password" class="form-control rounded-0" id="floatingPassword" name="password" placeholder="password">
              <label for="floatingPassword">Password</label>
            </div>

            <div class="text-center mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg btn-block w-100">Sign up</button>
            </div>
          </form>

        
      </div>
    </div>
  </div>
</section>


<%- include('partials/footer'); -%>