<%- include('partials/header'); -%>

<div class="container my-5 px-md-5 text-grey">
  <div class="row">
      <div class="col-lg-4">
          <div class="tool">
            <a href="/tools/progress_tracker" class="tool-link">
              <div class="tool-heading">
                <h5 class="px-3 py-1">
                  Progress Tracker
                </h5>             
              </div>
            </a> 
            <p class="p-2 m-1 rounded-4 bg-white text-dark">
                It is of utmost importance to track you fitness journey and progress while following a fitness plan. Use this tool to do exactly that.
            </p>
          </div>
      </div>
      <div class="col-lg-4">
          <div class="tool">
            <a href="/tools/diet_tool" class="tool-link">
              <div class="tool-heading">
                <h5 class="px-3 py-1">
                  Diet Tool 
                </h5>
              </div>
            </a>
            <p class="p-2 m-1 rounded-4 bg-white text-dark">
                You must've heard that your fitness depends much more on your diet than anything else. Track and plan you diet using this tool. 
            </p>
          </div>          
      </div>
      <div class="col-lg-4">
          <div class="tool">
            <a href="/tools/training_tool" class="tool-link">
              <div class="tool-heading">
                <h5 class="px-3 py-1">
                  Training Tool
                </h5>
              </div>
            </a>   
            <p class="p-2 m-1 rounded-4 bg-white text-dark">
                A proper training plan can do wonders for your fitness. Organise you workout/training structure now!!
            </p>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col-lg-4">
          <div class="tool">
            <a href="/tools/bmr_calculator" class="tool-link">
              <div class="tool-heading">
                <h5 class="px-3 py-1">
                  BMR Calculator
                </h5>
              </div>
            </a>  
            <p class="p-2 m-1 rounded-4 bg-white text-dark">
                Calculate your basal metabolic rate (BMR) i.e. the number of calories your body needs to sustain itself if you do nothing all day.
            </p>
          </div>               
      </div>
      <div class="col-lg-4">
          <div class="tool">
            <a href="/tools/goal_calculator" class="tool-link">
              <div class="tool-heading">
                <h5 class="px-3 py-1">
                  Goal Calculator
                </h5>
              </div>
            </a>  
            <p class="p-2 m-1 rounded-4 bg-white text-dark">
                Calculate how much calories you need to comsume everyday to achive your goal and the breeakdown of macronutrients for it. 
            </p>
          </div>
      </div>
      <div class="col-lg-4">
          <div class="tool">
            <a href="/tools/bodyFat_calculator" class="tool-link">
              <div class="tool-heading">
                <h5 class="px-3 py-1">
                  Body Fat % Calculator
                </h5>
              </div>   
            </a>            
            <p class="p-2 m-1 rounded-4 bg-white text-dark">
                Calculate your body fat percentage which is a key indicator of good health. A high body fat % might put you at a risk of some diseases.
            </p>
          </div>
      </div>
  </div>
</div>

<%- include('partials/footer'); -%>