.bodyPt{
  padding-top: 68px;
}

/******************* navbar *********************/

.offcanvas{
  max-width:70%;
}

.vl{
  border: 1px solid black;
  border-radius: 1px;
}

.link{
  color: black;
  text-decoration: none;
}

.link:hover{
  color: rgb(87, 86, 86);
}



/******************* footer *********************/
footer{
  background-color: #212529;
  color:white;
}

footer a{
  text-decoration: none;
  font-weight: 250;
  color: rgb(206, 205, 205);
}
footer a:hover{
  color:white;
}

/******************* home page ******************/
.header-container{
  height: 500px;
}

.header-img{
  max-height: 600px;
  position: fixed;
  right: 0;
  z-index: -1;
}

.goalText{
  font-family: 'Silkscreen', cursive;
  position: fixed;
  z-index: -1;
  top:6rem;
  left:2rem;
  max-width: 50%;
}

.card-text{
  text-align: justify;
}
.card-img-top{
  height: 250px;
  object-fit:fill;
}
.card-img-top:hover{
  opacity: 0.7;
}

.box{
  background-color: #1a1a2e;
  color: white;
  border-radius: 20px;
}

.carousel-inner{
  width:70%;
  margin:40px auto;
}

/*******************  Post ******************/
.postArea{
  max-width:600px;
  margin:auto;
  background-color: white;
  border-radius: 20px;
}

.icon:hover{
  cursor: pointer;
  color: rgb(108, 106, 106);
}

.like{
  color: red;
}

/******************* New Post ******************/
.headingBox{
  margin-top: 5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.newImg{
  display: block;
  margin: auto;
  max-height: 500px;
}

.captionInp{
  border: 0;
  outline: none;
  resize: none;
  width:100%;
}

 /******************* feed ******************/
 .feedArea{
  max-width:600px;
  margin:auto;
  }

  .feedImg{
    display: block;
    margin: auto;
    max-height: 400px;
  }

  .headBorder{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

 /******************* blog ******************/

.blogHomeImgBox{
  text-align: center;
}
.blogHomeImg{
  max-height: 350px;
  margin: 5rem 0 ;
}

.blogHeaderText{
  font-family: 'Silkscreen', cursive;

}

.blog-home{
  padding: 0.5rem 1rem;
}


.content-area{
  max-width: 998px;
  margin: 2rem auto;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: white;
}


.infoList{
  display: inline-block;
  list-style: none;
  margin: 0;
  padding:15px;
  position: relative;
  top:13px;
}

.blogTitle{
  border: 0;
  outline: none;
  font-family: Verdana, sans-serif;
  resize: none;
  font-size: 1.5rem;
  width:100%;
  font-weight:bold;
}
.blogContent{
  text-align: justify;
}

.blogTitle::placeholder{
  font-size: 2rem;
  font-weight:normal;
}

img{
  max-width: 100%;
}

.ck-editor__editable[role="textbox"] {
  /* editing area */
  min-height: 500px;
}


.publish-btn{
  font-size: 0.8rem;
  border-radius: 20px;
  background-color: #e94560;
  border: 0;
}
.up-btn{
  position: relative;
  float:right;
  top:1.2rem;
}

.publish-btn:hover{
  background-color: #c94560;
}

.blogs{
  max-width: 1100px;
  margin: auto;
}

.blogThumbnail{
  height: 270px;
  width: 100%;
}

.blogThumbnail:hover{
  opacity: 0.7;
}

.blogOptions{
  position: absolute;
  right:1rem;
  top:2rem;
}
.blogBtn{
  background-color: transparent;
  border: 0;
}

/******************* Login/Signup  ******************/

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

.error{
  font-size: 0.9rem;
}

#message p{
  display: inline-block;
  font-size: 0.9rem;
  margin: 5px 3px;
  padding:5px 10px;
  border-radius: 20px;
}

.valid{
  background-color: #d0f7ec;
  color: #06926f;
}
.valid::before{
  font: var(--fa-font-solid);
  content: "\f00c";
  color: #06926f;
  padding-right: 5px;
}

.invalid{
  background-color: #f7d0d0;
  color: #920606;
}
.invalid::before{
  font: var(--fa-font-solid);
  content: "\f00d";
  color: #920606;
  padding-right: 5px;
}

.gender{
  position: relative;
  top:5px;
  margin-left: auto;
}
.desc{
  resize: none;
  overflow: hidden;
  text-align: justify;
}
.dpImg:hover{
  opacity: 0.7;
}
#uploadedImg{
  height: 70px;
  width: 70px;
  border-radius: 100%;
}


/******************************** tools *******************************/
.tool{
  margin: 2rem 0.3rem 0;
  background-color: #16213e;
  border-radius: 20px;
  line-height: 1.7;
  border: 2px solid #16213e;
}
.tool-area{
  max-width: 998px;
  margin: 2rem auto;
  border-radius: 10px;
  background-color: white;
}
.tool-heading{
  color: white;
  background-color: #16213e;
  border-radius: 17px 17px 0 0;
}
.tool-link{
  color:black;
  text-decoration: none;
}
.tool-link:hover{
  color: rgb(75, 74, 74);
}
/******************* progress tracker ******************/


#noData{
  padding-top: 130px;
}

.progress-item{
  color: #167e56;
  font-weight: bold;
}

.progress-data td{
  padding:0.5rem 1.5rem;
}

/******************* body fat calculator ******************/
.custom-border{
  border-bottom: 2px solid rgb(175, 174, 174);
}

/*********** calender **************/



.calender-container {
  color: #eee;
}

.calendar {
  width: 16.5rem;
  height: 21rem;
  background-color: #222227;
  margin:auto;
}

.calender-month {
  width: 100%;
  background-color: #167e56;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.calender-month i {
  font-size: 1.5rem;
  cursor: pointer;
}

.calender-date{
  margin-top: 1rem;
}

.calender-month h1 {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 0.2rem;
}

.calender-month p {
  font-size: 0.7rem;
}

.calender-weekdays {
  width: 100%;
  height: 3rem;
  padding: 0 0.2rem;
  display: flex;
  align-items: center;
}

.calender-weekdays div {
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: calc(44.2rem / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.calender-days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
}

.calender-days div {
  font-size: 0.9rem;
  margin: 0.1rem;
  width: calc(14.7rem / 7);
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s;
  position: relative;
  cursor: pointer;
}

.selected:hover{
  background-color: #186849;
}

.calender-days div:hover:not(.selected) {
  background-color: #262626;
  border: 0.2rem solid #777;
  border-radius: 20px;
}

.prev-date,
.next-date {
  opacity: 0.5;
}

.selected {
  background-color: #167e56;
  border-radius: 100%;
}

.entryDot::after{
  content: "";
  height: 0.4rem;
  width: 0.4rem;
  background-color: rgb(239, 215, 5);
  border-radius: 100%;
  position: absolute;
  top:1.5rem;
}
/******************* Profile Page ******************/
.profileImg{
  border: 5px #16213e solid;
  border-radius: 100%;
  aspect-ratio : 1 / 1;
  width: 100%;
}
.profileImgBox{
  background: linear-gradient(180deg, #16213e 50%, #FFF 50%);
}
.profileInfo{
  line-height: 1.9rem;
  text-align: right;
}
.profilePosts{
  height: 300px;
  display: block;
  margin: auto;
}

.list-area{
  max-width: 500px;
  margin: auto;
}
/******************* Genral Design ******************/


.bg-blue-1{
  background-color: #1a1a2e;
}
.bg-blue-2{
  background-color: #16213e;
}
.bg-blue-3{
  background-color: #0f3460;
}
.bg-pink{
  background-color: #e94560;
}
.text-pink{
  color: #e94560;
}
.btn-pink{
  background-color: #e94560e9;
  color: white;
  border-radius: 20px;
  border: 0;
  padding:3px 5px;
}
.btn-pink:focus{
  color: rgb(210, 209, 209);
  background-color: #c94560;
}
.btn-pink:hover{
  color: rgb(210, 209, 209);
  background-color: #c94560;
}

.text-grey{
  color:rgb(212, 209, 209);
}

.monospace{
  font-family: monospace;
}

.fs-small{
  font-size: 0.9rem;
}

.no-hover{
  pointer-events: none;
}

/******************* media queries ******************/

@media screen and (min-width: 576px){
  .goalText{
    top:9rem;
    left:4rem;
  }
}

@media screen and (min-width: 768px) {

  .goalText{
    top:12rem;
    left:9rem;
  }

  /******************* header/footer ******************/

  .signup{
    border-radius: 20px;
    background-color:#1a1a2e ;

  }
  .signup>a{
    color:white;
  }
  .signup>a:hover{
    color:white;
  }
  .signup:hover{
    background-color: #20305b;
  }

  .footer-col{
    max-width: 70%;
    margin: auto;
  }

  .custom-border{
    border-right: 2px rgb(175, 174, 174) solid;
    border-bottom: 0;
  }

  /******************* blogs ******************/

  .blogHomeImgBox{
    display: inline-block;
    max-width: 50%;
  }

  .blogHeader{
    max-width: 45%;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    top:7rem;
    left:1rem;
  }


  /******************* signin/signup ******************/

  .completeProfileForm{
    width: 70%;
  }

  .gender{
    margin-left: 0.8rem;
  }
}

@media screen and (min-width: 992px){
  /******************* feed ******************/
  .feedArea{
    margin-right: 5px;
    margin-left: auto;
  }
}


@media screen and (min-width: 1100px){

  /******************* blog ******************/
  
  .completeProfileForm{
    width:45%;
  }

  .blogHomeImgBox{
    display: inline-block;
    max-width: 65%;
    margin-left: 3rem;
  }

  .blogHeader{
    max-width: 35%;
    margin-right: 5rem;
    float: right;
    position: relative;
    top:6rem;
  }
}

@media screen and (max-width: 768px){
  
  .calendar-container{
    width:264px;
  }
  .accordion-body{
    width: 328px;
    margin:auto;
  }
  .progress-data td{
    padding:0.5rem 1rem 0.5rem 0.8rem;
  }
  #noData{
    padding: 0 0.2rem;
  }
}





/* Chrome, Safari, Edge, Opera */
/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

/* Firefox */
/* input[type=number] {
  -moz-appearance: textfield;
} */