.bodyPt{
  padding-top: 68px;
}

/******************* navbar *********************/

.offcanvas{
  max-width:70%;
}

.vl{
  border: 1px solid black;
  border-radius: 1px;
}





/******************* footer *********************/
footer{
  background-color: #212529;
  color:white;
}

footer a{
  text-decoration: none;
  font-weight: 250;
  color: rgb(206, 205, 205);
}
footer a:hover{
  color:white;
}

/******************* home page ******************/
.header-container{
  height: 500px;
}

.header-img{
  max-height: 600px;
  position: fixed;
  right: 0;
  z-index: -1;
}

.goalText{
  font-family: 'Silkscreen', cursive;
  position: fixed;
  z-index: -1;
  top:6rem;
  left:2rem;
  max-width: 50%;
}

.card-text{
  text-align: justify;
}
.card-img-top{
  height: 250px;
  object-fit:fill;
}
.card-img-top:hover{
  opacity: 0.7;
}

.box{
  height: 300px;
  background-color: #1a1a2e;
  color: white;
  border-radius: 20px;
}

.carousel-inner{
  width:70%;
  margin:40px auto;
}

 /******************* blog ******************/

.blogHomeImgBox{
  text-align: center;
}
.blogHomeImg{
  max-height: 350px;
  margin: 5rem 0 ;
}

.blogHeaderText{
  font-family: 'Silkscreen', cursive;

}

.blog-home{
  padding: 0.5rem 1rem;
}


.blog-area{
  max-width: 998px;
  margin: 2rem auto;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: white;
}


.infoList{
  display: inline-block;
  list-style: none;
  margin: 0;
  padding:15px;
  position: relative;
  top:13px;
}

.blogTitle{
  border: 0;
  outline: none;
  font-family: Verdana, sans-serif;
  resize: none;
  font-size: 1.5rem;
  width:100%;
  font-weight:bold;
}
.blogContent{
  text-align: justify;
}

.blogTitle::placeholder{
  font-size: 2rem;
  font-weight:normal;
}

img{
  max-width: 100%;
}

.ck-editor__editable[role="textbox"] {
  /* editing area */
  min-height: 500px;
}


.publish-btn{
  font-size: 0.8rem;
  border-radius: 20px;
  background-color: #e94560;
  border: 0;
}
.up-btn{
  position: relative;
  float:right;
  top:1.2rem;
}

.publish-btn:hover{
  background-color: #c94560;
}

.blogs{
  max-width: 1100px;
  margin: auto;
}

.blogThumbnail{
  height: 270px;
  width: 100%;
}

.blogThumbnail:hover{
  opacity: 0.7;
}

/******************* Login/Signup  ******************/

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

.error{
  font-size: 0.9rem;
}

#message p{
  display: inline-block;
  font-size: 0.9rem;
  margin: 5px 3px;
  padding:5px 10px;
  border-radius: 20px;
}

.valid{
  background-color: #d0f7ec;
  color: #06926f;
}
.valid::before{
  font: var(--fa-font-solid);
  content: "\f00c";
  color: #06926f;
  padding-right: 5px;
}

.invalid{
  background-color: #f7d0d0;
  color: #920606;
}
.invalid::before{
  font: var(--fa-font-solid);
  content: "\f00d";
  color: #920606;
  padding-right: 5px;
}

.gender{
  position: relative;
  top:5px;
  margin-left: auto;
}
.desc{
  resize: none;
  overflow: hidden;
  text-align: justify;
}
.dpImg:hover{
  opacity: 0.7;
}
#uploadedImg{
  height: 70px;
  width: 70px;
  border-radius: 100%;
}

/******************* Genral Design ******************/


.bg-blue-1{
  background-color: #1a1a2e;
}
.bg-blue-2{
  background-color: #16213e;
}
.bg-blue-3{
  background-color: #0f3460;
}
.bg-pink{
  background-color: #e94560;
}
.text-pink{
  color: #e94560;
}
.btn-pink{
  background-color: #e94560e9;
  color: white;
  border-radius: 20px;
  border: 0;
}
.btn-pink:hover{
  color: rgb(210, 209, 209);
  background-color: #c94560;
}

.text-grey{
  color:rgb(212, 209, 209);
}

.monospace{
  font-family: monospace;
}

/******************* media queries ******************/

@media screen and (min-width: 576px){
  .goalText{
    top:9rem;
    left:4rem;
  }
}

@media screen and (min-width: 768px) {

  .goalText{
    top:12rem;
    left:9rem;
  }

  /******************* header/footer ******************/

  .signup{
    border-radius: 20px;
    background-color:#1a1a2e ;

  }
  .signup>a{
    color:white;
  }
  .signup>a:hover{
    color:white;
  }
  .signup:hover{
    background-color: #20305b;
  }

  .footer-col{
    max-width: 70%;
    margin: auto;
  }


  /******************* blogs ******************/

  .blogHomeImgBox{
    display: inline-block;
    max-width: 50%;
  }

  .blogHeader{
    max-width: 45%;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    top:7rem;
    left:1rem;
  }


  /******************* signin/signup ******************/

  .completeProfileForm{
    width: 70%;
  }

  .gender{
    margin-left: 0.8rem;
  }
}


@media screen and (min-width: 1100px){

  /******************* blog ******************/
  
  .completeProfileForm{
    width:45%;
  }

  .blogHomeImgBox{
    display: inline-block;
    max-width: 65%;
    margin-left: 3rem;
  }

  .blogHeader{
    max-width: 35%;
    margin-right: 5rem;
    float: right;
    position: relative;
    top:6rem;
  }
}



